@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb)) */
  /* ); */
}

::-webkit-scrollbar {
  display: none;
}

#instagram:hover path {
  fill: url(#hoverGradient);
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Use for Safari and Chrome */
}

@keyframes gradientAnimation {
  0% {
    stop-color: #feda75;
  }
  25% {
    stop-color: #fa7e1e;
  }
  50% {
    stop-color: #d62976;
  }
  75% {
    stop-color: #962fbf;
  }
  100% {
    stop-color: #4f5bd5;
  }
}

#hoverGradient stop {
  animation: gradientAnimation 5s linear infinite;
}

@keyframes north {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0px, -120px);
  }

  50% {
    transform: translate(0px, -120px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes east {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(120px, 0px);
  }

  50% {
    transform: translate(120px, 0px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes south {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-20px, 120px);
  }

  50% {
    transform: translate(-20px, 120px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes north-west {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-110px, -60px);
  }

  50% {
    transform: translate(-110px, -60px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes south-west {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-120px, 50px);
  }

  50% {
    transform: translate(-120px, 50px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes north-east {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(90px, -90px);
  }

  50% {
    transform: translate(90px, -90px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes south-east {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(90px, 80px);
  }

  50% {
    transform: translate(90px, 80px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@layer utilities {
  .animate-north {
    animation: north 4s infinite;
  }

  .animate-east {
    animation: east 4s infinite;
  }

  .animate-south {
    animation: south 4s infinite;
  }

  .animate-north-west {
    animation: north-west 4s infinite;
  }

  .animate-south-west {
    animation: south-west 4s infinite;
  }

  .animate-north-east {
    animation: north-east 4s infinite;
  }

  .animate-south-east {
    animation: south-east 4s infinite;
  }
}

/* navigation animation */

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease;
}

/* navigation animation */
